<div class="container-fluid pt-5 pt-md-4 pt-lg-5 fondo-2">
    <!-- Titulo -->
    <div class="row pt-4 pt-md-0">
        <div class="col-12 pt-5 pt-md-3">
            <img src="./assets/Titulo Home 2.png" class="img-fluid mx-auto d-block" alt="Portfolio">
        </div>
    </div>

    <div class="d-flex align-items-center mt-3 justify-content-center tamaño">
        <div class="card-css mx-1 mx-lg-5 d-none d-md-flex">
            <div class="imgBx">
                <img src="./assets/logos/Daka logo.png">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Daka<br><span>Re-Branding</span></h2>
                    <div class="actionBtn">
                        <button>Ver Proyecto</button>
                        <label class="like">
                            <input class="input-like" type="checkbox"/>
                            <div class="hearth"></div>
                        </label> 
                    </div>
                </div>
            </div>
        </div>
        <div class="card-css mx-1 mx-lg-5">
            <div class="imgBx">
                <img src="./assets/logos/Revinyls logo.png">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Revinyls® <br><span>Branding Design</span></h2>
                    <div class="actionBtn bg-prueba">
                        <button>Ver Proyecto</button>
                        <label class="like">
                            <input class="input-like" type="checkbox"/>
                            <div class="hearth"></div>
                        </label> 
                    </div>
                </div>
            </div>
        </div>
        <div class="card-css mx-1 mx-lg-5 d-none d-md-flex">
            <div class="imgBx">
                <img src="./assets/logos/Mariel logo.png">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Mariel Roa <br><span>Branding Design</span></h2>
                    <div class="actionBtn">
                        <button>Ver Proyecto</button>
                        <label class="like">
                            <input class="input-like" type="checkbox"/>
                            <div class="hearth"></div>
                        </label>                   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <button class="btn btn-cc mx-auto p-3" type="button"><i class="fa-solid fa-rocket me-2"></i> Más proyectos</button>
    </div>
</div>