.carousel-caption{
    right: 0% !important;
    bottom: 0% !important;
    left: 0% !important;
    margin-bottom: calc(0.5rem + 17vw);
    margin-left: 15%;
    color: #242424 !important;
    text-align: left !important;
}
.espacio2{
  margin-bottom: calc(1rem + 19.5vw) !important;
}

.titulocc{
    color: #b2b3b4;
    font-size: calc(0.5rem + 1.31vw);
    margin-bottom: 0%;
}

.agencia{
    font-size: calc(0.5rem + 3.5vw);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.ptitulo{
  font-size: calc(0.5rem + 0.9vw);
  margin-top: -1%;
  line-height: 135%;
}
.flecha{
  color: #757575 !important;
  font-size: 40px;
}

/*Segundo Carousel*/
.agencia2{
  font-size: calc(0.6rem + 3.5vw);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #ffff;
}

.ptitulo2{
font-size: calc(0.6rem + 0.9vw);
margin-top: -1%;
line-height: 135%;
text-align: center;
color: #ffff;
} 
/* Trecer Carousel */

.agencia3{
  font-size: calc(0.5rem + 3vw);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #9797a0;
  text-align: end;
  padding-left: 40%;
  padding-right: 10%;
}
.caption3{
  bottom: 5% !important;
}

.text-t1{
  font-size: 4rem;
}
@media only screen and (max-width: 800px) {
  .text-t1{
    font-size: 2rem;
  }
}
.text-t2{
  font-size: 3rem;
}
@media only screen and (max-width: 800px) {
  .text-t2{
    font-size: 1.5rem;
  }
}

.texto-3{
  padding-left: 9%;
  margin-top: -7%;
  color: #77777f;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))
}
@media only screen and (max-width: 767px) {
  .texto-3{
    margin-top: 0%;
    padding-left: 0%;
    font-size: 20px;
  }
}
@media only screen and (max-width: 740px) {
  .texto-3{
  padding: 2%;
  }
}

/* tabs */
.fondow{
  height: 800px;
}

.nav-pills{
  width: 1500px;
  justify-content: center;
}
.nav-item{
  width: 24%;
}
.nav-pills .nav-link{
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  height: 100px;
  cursor: pointer;
}
.pill1{
  background: var(--red-cc1);
}
.pill2{
  background: var(--red-cc2);
}
.pill3{
  background: var(--red-cc3);
}
.pill4{
  background: var(--red-cc4);
}
.nav-pills .nav-link.active{
  background: var(--blue-cc3);
  color: #fff;
}
.tab-content{
  position: absolute;
  width: 1500px;
  height: auto;
  margin-top: -50px;
  background: #fff;
  color: var(--dark-cc);
  border-radius: 20px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-bottom: 50px;
}
.tab-content button{
  border-radius: 15px;
  width: 100px;
  margin: 0 auto;
  float: right;
}
.rocas{
  position: absolute;
  max-width: 100%;
  height: auto;
  animation: float 8s ease-in-out infinite;
}
@media only screen and (max-width: 980px) {
  .rocas{
    max-width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .rocas{
    padding-top: 7%;
    max-width: 100%;
    padding-left: 0%;
  }
  .img-animation{
    padding-top: 7%;
  }
}

.img-animation{
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}