<ngb-carousel [interval]=10000 class="pt-5 p-lg-0 d-none d-md-flex">
  <ng-template ngbSlide>
    <img src="./assets/carrousel/carrousel 1.png" class="d-block w-100">
    <div class="carousel-caption d-md-block">
      <h4 class="titulocc">Creative Chromatic</h4>
      <h1 class="agencia"><span class="degradado1">AGENCIA</span> DIGITAL <span class="degradado2">/</span></h1>
      <p class="ptitulo">Especialistas en Branding y Web Developer. <br> Llevamos tus ideas al espacio.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="./assets/carrousel/carousel 2.png" class="d-block w-100">
    <div class="carousel-caption d-md-block mx-auto espacio2">
      <h1 class="agencia2"><span class="degradado2">IDEAS</span> HASTA EL <span class="degradado1">INFINITO</span></h1>
      <p class="ptitulo2">y más allá</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="./assets/carrousel/carousel 3.png" class="d-block w-100">
    <div class="carousel-caption d-md-block caption3">
      <h1 class="agencia3"> SOMOS LA <span class="degradado2">AGENCIA</span> QUE <span
          class="degradado1">NECESITAS</span></h1>
    </div>
  </ng-template>
</ngb-carousel>

<app-ventanas></app-ventanas>

<div class="container-fluid dark-cc">
  <div class="d-flex justify-content-center align-items-center">
    <div class="pt-5 pb-4">
      <h1 class="text-white text-center font-bold m-0 text-t1">EL <span class="degradado2">CIELO</span> ES EL <span
          class="degradado2">LIMITE</span></h1>
      <h2 class="text-white text-center font-medium m-0 text-t2">Pero <span class="degradado1 font-bold">NO</span> el
        <span class="degradado1 font-bold">NUESTRO</span>
      </h2>
    </div>
  </div>

  <div class="row d-flex justify-content-center align-items-center">

    <div class="col-md-6 col-12 texto-3">

      <p class="font-regular text-center text-md-start">
        En <span class="degradado2 font-bold">CREATIVE</span><span class="degradado1 font-bold"> CHROMATIC</span>, no
        tenemos limites <br class="d-none d-xxl-flex">
        para innovar y llevar al siguiente nivel las marcas <br class="d-none d-xxl-flex">
        de nuestros clientes.
      </p>

      <p class="font-regular my-5 text-center text-md-start">
        No solo somos una agencia, somos una solución.
      </p>

      <p class="font-regular text-center text-md-start">
        ¿Estás listo para <span class="degradado2 font-bold">impulsar</span> tu <span
          class="degradado1 font-bold">marca</span>?
      </p>

    </div>

    <div class="col-md-6 col-12 d-flex pt-3 pt-md-0 pb-5 justify-content-center">
      <img src="./assets/Ovni CC.png" class="img-fluid mx-auto img-animation">
      <img src="./assets/Rocas.png" class="img-fluid mx-auto rocas">
    </div>
  </div>
</div>
<div class="wave2">
  <svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 " preserveAspectRatio="none">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z" />
    </defs>
    <g class="parallax1">
      <use xlink:href="#gentle-wave" x="50" y="3" fill="#131118" />
    </g>
    <g class="parallax2">
      <use xlink:href="#gentle-wave" x="50" y="0" fill="#131118" />
    </g>
    <g class="parallax3">
      <use xlink:href="#gentle-wave" x="50" y="9" fill="#131118" />
    </g>
    <g class="parallax4">
      <use xlink:href="#gentle-wave" x="50" y="6" fill="#f4f5f8" />
    </g>
  </svg>
</div>

<!-- Servicios -->
<div class="container-fluid">
  <div class="pt-5">
    <h1 class="text-dark text-center font-bold pt-5 display-2">
      <span class="degradado2">NUESTROS </span><span class="degradado1">SERVICIOS</span>
    </h1>
  </div>
<div class="container mb-5">
  <div class="text-center">
  </div>
  <div class="row prueba">
    <div class="col-md-4">
      <div class="box">
        <div class="our-services settings">
          <div class="icon"> <img src="https://i.imgur.com/6NKPrhO.png"> </div>
          <h4>Branding</h4>
          <p>Diseño de logo <br> identidad corporativa</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services speedup">
          <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png"> </div>
          <h4>Web Developer</h4>
          <p>Desarrollo y Diseño Web <br> (Apps y páginas)</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services privacy">
          <div class="icon"> <img src="https://i.imgur.com/AgyneKA.png"> </div>
          <h4>Social Media</h4>
          <p>Diseño y Gestión</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>