<ngb-carousel class="pt-5 p-lg-0 d-none d-md-flex">
  <ng-template ngbSlide>
      <img src="./assets/carrousel/carrousel 1.png" class="d-block w-100">
    <div class="carousel-caption d-md-block">
      <h4 class="titulocc">Creative Chromatic</h4>
      <h1 class="agencia"><span class="degradado1">AGENCIA</span> DIGITAL <span class="degradado2">/</span></h1>
          <p class="ptitulo">Especialistas en Branding y web developer. <br> Llevamos tus ideas al espacio.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
      <img src="./assets/carrousel/carousel 2.png" class="d-block w-100">
    <div class="carousel-caption d-md-block mx-auto espacio2">
      <h1 class="agencia2"><span class="degradado1">IDEAS</span> HASTA EL <span class="degradado2">INFINITO</span></h1>
      <p class="ptitulo2">y más allá</p>
    </div>
  </ng-template>
</ngb-carousel>

<app-ventanas></app-ventanas>

<div class="container-fluid dark-cc mt-5 fondo-3">
  <div class="d-flex justify-content-center align-items-center">
    <div class="py-5">
      <h1 class="text-white text-center font-bold m-0 text-t1">EL  <span class="degradado2">CIELO</span> ES EL <span class="degradado2">LIMITE</span></h1>
      <h2 class="text-white text-center font-medium m-0 text-t2">Pero <span class="degradado1 font-bold">NO</span> el <span class="degradado1 font-bold">NUESTRO</span></h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center pt-0 pt-lg-5 mb-5">
    <div class="col-md-6 col-12 texto-3 pb-4">
      <p class="font-regular text-center text-md-start">
        En <span class="degradado2 font-bold">CREATIVE</span><span class="degradado1 font-bold"> CHROMATIC</span>, no tenemos limites <br class="d-none d-xxl-flex">
        para innovar y llevar al siguiente nivel las marcas <br class="d-none d-xxl-flex">
        de nuestros clientes.
      </p>
      <p class="font-regular my-5 text-center text-md-start">
        No somos solo una agencia, somos una solución.
      </p>
      <p class="font-regular text-center text-md-start">
        ¿Estás listo para llevar tu marca al <i><span class="degradado2 font-bold">next</span><span class="degradado1 font-bold"> level</span></i>?
      </p>
    </div>
    <div class="col-md-6 col-12 d-flex">
      <img src="../../assets/Home square 1.png" class="img-fluid mx-auto" width="400px">
    </div>

  </div>
</div>