<!--
<ngx-spinner
    bdColor = "#131118"
    size = "medium"
    color = "#fff"
    type = "ball-circus"
    [fullScreen] = "true"
    template = "<img src='./assets/chromatic-animado.svg' width='400px'>">
    <div class="loading loading01 mt-5 pt-5">
        <span>C</span>
        <span>a</span>
        <span>r</span>
        <span>g</span>
        <span>a</span>
        <span>n</span>
        <span>d</span>
        <span>o</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
      </div>
</ngx-spinner>
-->
<app-navbar></app-navbar>
<router-outlet>
</router-outlet>
